*{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin: 0px auto;
    max-width: 960px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #000;
}
.wapper header {
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    transform: translate(-50%, -50%);
    

}
.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
ul#main-menu {
    display: flex;
    margin-top: 20px;
}
ul#main-menu a{
    text-transform: uppercase;
    margin-left: 30px;
    padding: 10px 10px;
    color: #fff;
    display: block;
}
#slide {
    min-height: 480px;
    width: 100%;
}
.my-data {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.btn {
    background-color: transparent(-50%, -50%);
    border: 1px solid white;
    padding: 7px 11px;
    border-radius: 0;
    color:#fff;
    display: inline-block;
    margin-top: 50px;
}
